body {
    font-family: "Liberation Sans", Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: #bbc0c8;
}

h1, h2 {
    font-family: "Liberation Serif", "Constantia", serif;
}

h1 {
    font-size: 48px;
    color: LightSteelBlue;
    margin: 15px 10px 15px 10px;
    float: left;
}

h2 {
    font-size: 36px;
    background-color: #384048;
    border-bottom: 2px solid LightSlateGray;
    padding: 5px 20px 5px 20px;
    color: LightSteelBlue;
}

h3 {
    font-size: 24px;
    padding: 15px 30px 0 30px;
    border-bottom: 1px dotted LightSlateGray;
    line-height: 30px;
}

em {
    font-style: italic;
}

.title {
    background-color: #22262b;
    overflow: hidden;
    border-bottom: 4px solid LightSlateGray;
}

.navbar {
    margin: 35px 15px 0 0;
    float: right;
}

.navbar a, .navbar a:visited {
    color: LightSteelBlue;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar ul {
    display: inline;
    float: right;
}

.navbar li {
    display: inline;
}

#editor-link {
    border-left: 2px solid LightSlateGray;
    padding-left: 10px;
    margin-left: 10px;
}

.subtitle {

}

.listing {
    margin: 20px 30px 0 30px;
}

.listing table {
    width: 100%;
}

.listing th, .listing td {
    border: 1px solid black;
    padding: 5px 5px 5px 10px;
    text-align: left;
}

.listing th {
    background-color: SlateGray;
}

.listing td {
    font-family: "Consolas", "DejaVu Sans Mono", "Monaco", monospace;
}

.listing em {
    display: block;
    margin: 15px 10px 0 10px;
}

.editor {
    margin: 20px 30px 0 30px;
}

.field {
    margin-top: 10px;
}

.field label {
    text-align: right;
    float: left;
    width: 150px;
    margin-right: 5px;
}

.field input {
    width: 155px;
}

#button {
    margin-left: 115px;
    width: auto;
}

.footer {
    margin: 25px 10px 0 10px;
    font-style: italic;
    font-size: 14px;
    color: #384048;
}

.footer a, .footer a:visited, .footer a:hover {
    color: inherit;
    text-decoration: underline;
}
